@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-size: 16px;
  background: #f0f0f0;
}

body footer img {
  width: 2%;
}

#header {
  font-family: 'Merriweather', serif;
  background-color: maroon;
  border-bottom: 5px solid goldenrod !important;
  padding: .9em;
  text-decoration: none;
  color: white;
}

#header span {
  font-size: 1em;
}

#header img {
  width: 2em;
  padding-right: .5em;
}

#header button {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

#header button:hover {
  background-color: #daa6a6;
  color: #333333;
}

#header button:hover i {
  color: #160e01 !important;
}

#header .report {
  margin-right: 6em !important;
  margin-left: .6em;
}

#menu {
  background-color: white !important;
  -webkit-box-shadow: 0 2px 9px 0 rgba(110, 110, 110, 0.5);
          box-shadow: 0 2px 9px 0 rgba(110, 110, 110, 0.5);
  font-family: 'Open Sans', sans-serif;
  color: #a85a5a;
  padding: 0;
}

#menu li a {
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 0;
}

#menu li a i {
  color: #2b2b2b;
}

#menu li a:hover {
  background-color: #520b0b;
  color: white;
}

#menu li a:hover i {
  color: blanchedalmond !important;
}

#menu li .active {
  background-color: maroon;
}

#menu li .active a {
  color: white !important;
}

#menu li .active i {
  color: blanchedalmond !important;
}

.dashboard {
  font-family: 'Open Sans', sans-serif;
}

.dashboard .card.pending {
  border-left: 0.35em solid red !important;
}

.dashboard .card.pending i {
  color: #999999;
}

.dashboard .card.process {
  border-left: 0.35em solid goldenrod !important;
}

.dashboard .card.process i {
  color: #999999;
}

.dashboard .card.printed {
  border-left: 0.35em solid #00c3ff !important;
}

.dashboard .card.printed i {
  color: #999999;
}

.dashboard .card.complete {
  border-left: 0.35em solid green !important;
}

.dashboard .card.complete i {
  color: #999999;
}

.dashboard .chart-bar {
  position: relative;
  height: 10rem;
  width: 100%;
  color: #965252;
}

@media (min-width: 768px) {
  .dashboard .chart-bar {
    height: 20rem;
  }
}

.dashboard .activity-log {
  position: relative;
  width: 100%;
}

.dashboard .activity-log table {
  font-size: .9em;
}

.content-wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1em;
  font-size: .9em;
}

.content-wrapper .content .table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-wrapper .content .table th, .content-wrapper .content .table td {
  padding: 12px 15px;
}

.content-wrapper .content .table thead {
  border-radius: 10px 10px 0 0;
}

.content-wrapper .content .table thead tr {
  background-color: #6b2b2b;
  color: white;
  text-align: left;
}

.content-wrapper .content .table tbody {
  border-bottom: 1px solid #dddddd;
}

#form {
  font-family: 'Poppins', sans-serif;
  padding-top: 1em;
}

#form nav {
  font-size: .9em;
}

#form nav a {
  color: maroon;
}

#form form {
  padding: 0 2em 0 2em;
}

@media screen and (max-width: 425px) {
  #header {
    padding-bottom: 0;
  }
  #header .dashboard {
    margin-top: 10px;
  }
  #header .completerqt {
    margin-top: 10px;
  }
  #header .logout {
    margin-top: -130px;
    margin-left: 220px;
  }
}

@media screen and (max-width: 375px) {
  #header {
    padding-bottom: 0;
  }
  #header .dashboard {
    margin-top: 10px;
    margin-left: 135px;
  }
  #header .completerqt {
    margin-left: 135px;
    width: 180px;
  }
  #header .logout {
    margin-top: -215px;
    margin-left: 300px;
  }
}

@media screen and (max-width: 320px) {
  #header {
    padding-bottom: 0;
  }
  #header .dashboard {
    margin-top: 10px;
    margin-left: 190px;
  }
  #header .completerqt {
    margin-left: 190px;
  }
  #header .logout {
    margin-top: -140px;
    margin-left: 310px;
  }
}
/*# sourceMappingURL=admin.css.map */