//colors
$bgColor: #c9c9c9;
$sideColor: #e7e7e7;
$maroonColor: #800000;
$graycolor: #dddddd;
$darkcolor: rgb(46, 46, 46);
$white: #fff;
$black: #000;
$gold: #DAA520;
//table colors
$tb_header: rgb(165, 26, 26);