@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@mixin headings {
    color: $maroonColor;
}

@mixin btn{
    padding: 8px;
    border-radius: 2px;
    font-size: 1em;
    box-shadow: 0 0 5px rgba(100, 15, 15, 0.418);
}
 
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #e3e3e3;

    .modal{
        z-index: 999999999999;
    }

    .logout{
        position: relative;
        width: 150px;
        color: $white;
        a{color: $white;}
        ul{
            border-radius: 3px;
            a{color: $darkcolor;}
        }
    }

    footer{
		color: $darkcolor;
		img{width: 3%;}
	}

    
    .navbar-toggler{
        color: white!important;
    }

    .navbar{
        background: $maroonColor;
        img{max-width: 2.5%;}
        height: 60px;
        max-width: 100%;
        .navbar-brand:hover{
            color: $white;
        }
        .dropdown-item{
            color: $darkcolor   ;
        }

        a{

            text-decoration: none;
            padding-left: 10px;
            font-size: 1em;
            color: white;
            .active, &:hover{
                color: $graycolor;
            }
        }
    }

    .btn{
        @include btn();
        // background: $maroonColor;
        color: white;

        &:hover{
            color: white;
        }    
    }
    
    .btn-danger{
        @include btn();
        background-color: rgb(233, 0, 0);
        color: white;
    }

    .table{
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.89em;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
        th, td{
            padding: 12px 15px;
        }
    
        thead{
            border-radius: 10px 10px 0 0;
            tr{
                background-color: #cb3737;
                color: $white;
                text-align: left;
            }
        }
    
        tbody{
            border-bottom: 1px solid #dddddd;
            
        }
      }

    #content{
        h1, h2, h3, h4, h5, h6{
            @include headings();
            padding: 5px 0 10px 0;
            i{
                padding-right: 5px;
            }
        }

        .container{ 
            font-size: .98em;
            padding: 25px;

            #editbtn{
                background-color: rgb(0, 0, 126);
            }
            .row{
                padding: 10px 5px;
                .card{
		            box-shadow: 0 0 20px #00000026;
                    padding: 20px;
                    border-radius: 10px 10px 0 0;

                    .card-body{
                        padding: 0;

                        .breadcrumb-item{
                            a{
                                color: maroon;
                            }
                        }

                        form{
                            font-size: .95em;
                            .btn{
                                @include btn();
                                background-color: $maroonColor;
                                width: 15%;
                                color: $white;
                                &:hover{
                                    background: rgba(128, 0, 0, 0.774);
                                }
                            }

                            .table{
                                border-collapse: collapse;
                                margin-left: auto;
                                margin-right: auto;
                                font-size: 0.95em;
                                width: 100%;
                                border: 1px solid rgba(128, 128, 128, 0.24);

                                thead{
                                    background-color: $gold;
                                    i{float: right;}
                                }
                            }
                        }

                        .history{
                            border-collapse: collapse;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 0.81em;
                            width: 100%;
                            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
                            th, td{
                                padding: 12px 15px;
                            }
    
                            thead{
                                border-radius: 10px 10px 0 0;
                                tr{
                                    background-color: #cb3737;
                                    color: $white;
                                    text-align: left;
                                }
                            }
    
                            tbody{
                                border-bottom: 1px solid #dddddd;
                            }
                        }

                        .request{
                            border-collapse: collapse;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 0.95em;
                            width: 100%;
                            box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);

                            th, td{
                                padding: 12px 15px;
                            }
    
                            thead{
                                border-radius: 10px 10px 0 0;
                                i{padding-right: 10px;}
                                tr{
                                    background-color: $gold;
                                    text-align: left;
                                }
                            }
    
                            tbody{
                                border-bottom: 1px solid #dddddd;
                                // span{padding-bottom: 150px;}
                                .btn{
                                    float: left;
                                    @include btn();
                                    width: 100%;
                                    background-color: $maroonColor;
                                    // font-weight: bolder;
                                    color: white;
                                    
                                    &:hover{
                                        background: rgba(87, 68, 68, 0.774);
                                        
                                    }
                                }
                            }
                        }

                        #tab {
                            button {
                                color: black;
                                border-top: 1px solid rgb(156, 117, 117);
                                border-right: 1px solid rgb(156, 117, 117);
                                color: rgb(184, 69, 69);
    
                                &:hover {
                                    background-color: rgba(87, 68, 68, 0.774);
                                    color: $white;
                                }
    
                                &.active {
                                    background-color: $maroonColor;
                                    color: $white;
                                  }
                            }
                        } 
    
                        .tab-content {    
                            table{
                                border-collapse: collapse;
                                margin-left: auto;
                                margin-right: auto;
                                font-size: 0.95em;
                                width: 90%;
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
                                th, td{
                                    padding: 12px 15px;
                                }
        
                                thead{
                                    border-radius: 10px 10px 0 0;
                                    tr{
                                        background-color: #cb3737;
                                        color: $white;
                                        text-align: left;
                                    }
                                }
        
                                tbody{
                                    border-bottom: 1px solid #dddddd;
                                    .btn-danger{
                                        border-radius: 0;
                                        font-size: 1em;
                                        box-shadow: 0 0 5px rgba(100, 15, 15, 0.418);
                                    }
                                    .btn-success{
                                        border-radius: 0;
                                        font-size: 1em;
                                        box-shadow: 0 0 5px rgba(100, 15, 15, 0.418);
                                    }
                                }
                            }
                        }
                    }
                    
                    &-footer{
                        background-color: rgb(252, 252, 252);
                        font-size: .9em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    body{
        font-size: 13px;
       .navbar{
        img{max-width: 7%;}
        height: 50px;
        font-size: 1em;
       }

       .card{
           max-width: 100%;
       }

        #menu{
            color: white;
        }
    
        .collapse{
            background-color: maroon;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            z-index: 999999999;
            
            li{
                border-bottom: 1px solid rgb(211, 191, 155);
            }
        }

        .logout{
            display:inline-block;
            position: relative;
            .nav-link{
                text-align: center;
            }
            .dropdown-menu{
                font-size: .9em;
                height: 100%;
                margin: -11em;
                margin-top: 30px;
                li{
                    border-bottom: none;
                }
            }
        }
    }

    #content{
        #editbtn{
            background-color: rgb(0, 0, 126);
        }

        #submitbtn{
            width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    body{
        font-size: 12px;
        .navbar{
            font-size: .9em;
            img{
                max-width: 8%;
            }
        }
    }

    #content{
        #editbtn{
            font-size: .7em;
            background-color: rgb(0, 0, 126);
        }

        #submitbtn{
            width: 100%;
        }
    }
}
